@font-face {
  font-family: "Hanken";
  font-weight: 700;
  src: url("../fonts/hanken/hanken-book-webfont.eot");
  src: url("../fonts/hanken/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hanken/hanken-book-webfont.woff2") format("woff2"), url("../fonts/hanken/hanken-book-webfont.woff") format("woff"), url("../fonts/hanken/hanken-book-webfont.ttf") format("truetype"), url("../fonts/hanken/hanken-book-webfont.svg#Hanken") format("svg")
}

@font-face {
  font-family: "Hanken";
  font-weight: 400;
  src: url("../fonts/hanken/hanken-light-webfont.eot");
  src: url("../fonts/hanken/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hanken/hanken-light-webfont.woff2") format("woff2"), url("../fonts/hanken/hanken-light-webfont.woff") format("woff"), url("../fonts/hanken/hanken-light-webfont.ttf") format("truetype"), url("../fonts/hanken/hanken-light-webfont.svg#Hanken") format("svg")
}
h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Hanken", sans-serif;
}
h2 {
  font-size: 38px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
p {
  font-size: 18px;
  line-height: 27px;
  color: $black;
}
a {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  @include transition(color 0.2s ease-out);
  color: $black;
  &:hover {
    color:$accent;
  }
}
b {
  font-weight: bold;
}