.create-memory-template {
  .page-title {
    background: url("../img/add-memory-banner.jpg") no-repeat center center / cover;
  }
  p.intro {
    margin-bottom: 30px;
    padding: 0;
    font-weight: 500;
    a {
      font-size: 20px;
      color: $accent;

    }
  }
  .modal {
    textarea {
      min-height: 100px;
    }
  }
}

.drag-drop-section {
  background-color: #f7f7f7;
  padding: 30px 0 300px;
  .button {
    width: 100%;
    margin-top: 10px;
  }
}
#drag-drop-area {
  border: 4px dashed $black;
  text-align: center;
  .cloud-upload-container {
    height: 200px;
    position: relative;
    .fa-cloud-upload {
      font-size: 120px;
      cursor: pointer;
      @include vertical-align(relative);
      @include transition(color 0.1s ease-in);
      color: $black;
      &:hover {
        color:$grey;
      }
    }
  }
  &.dragover {
    border-color: $grey;
    .fa-cloud-upload {
      color: $grey;
    }
  }
}
#files-list {
  margin-top: 30px;
  .file {
    background-color: #fff;
    margin-bottom: 10px;
    line-height: 46px;
    border: 1px solid  #eee;
    overflow: hidden;
    .type {
      font-weight: bold;
      text-transform: uppercase;
      min-width: 100px;
      display: inline-block;
      height: 100%;
      border-right:1px solid #eee;
      text-align: center;
      float: left;
      &.error {
        color: $error;
      }
    }
    .name {
      float: left;
      padding-left: 15px;
    }
    .size {
      float: left;
      padding-left: 15px;
    }
    .status {
      float: right;
      text-align: center;
      height: 46px;
      display: inline-block;
      .message {
        padding-right: 15px;
        a {
          font-size: 16px;
          margin-left: 10px;
        }
      }
      &.error {
        .message {
          color: $error;
        }
        .progress-bar {
          > div {
            background-color: $error;
          }
        }
      }
      .fa {
        display:inline-block;
        min-width: 16px;
      }
      .fa-check {
        color: $success;
      }
      .fa-close {
        color: $error;
      }
    }
  }

}
