body.memories-list-template {
  background-color: #f7f7f7;
}
.main-content {
  position: relative;
  min-height: 100vh;
  @extend %clearfix;
  &.is-fixed {
    .tab-filter-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
    .memories {
      padding-top: 26px+$tab-filter-height;
    }
    .filter-cont {
      position: fixed;
      height: 100vh;
      overflow: hidden;
      form {
        height: 100vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      .button {
        margin-top: 10px;
      }
    }
    .filter-trigger {
      position: fixed;
    }
    @include MQ(M) {
      .memories {
        padding-top: 40px+$tab-filter-height;
      }
    }
    @include MQ(L) {
      .memories {
        padding-top: 50px+$tab-filter-height;
      }
    }
  }
}
.tab-filter-wrapper {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(#000, .08);
  z-index: 1;
  @extend %clearfix;
}
.tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: $tab-filter-height;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
  &::after {
    content:'';
    position: absolute;
    right: 14px;
    @include center(y);

    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/icon-arrow-black.svg') no-repeat center center;
    @include transition(all .3s);
    pointer-events: none;
  }
  ul {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: inset 0 -2px 0 $accent;
  }
  li {
    display: none;
    &:first-child {
      /* this way the placehodler is alway visible */
      display: block;
    }
  }
  a {
    display: block;
    /* set same size of the .tab-filter */
    height: $tab-filter-height;
    width: 140px;
    line-height: $tab-filter-height;
    padding-left: 14px;
    &.selected {
      background: $accent;
      color: #fff;
    }
  }
  &.is-open {
    &::after {
      /* small arrow rotation */
      @include transform(translateY(-50%) rotate(-180deg));
    }
    ul {
      box-shadow: inset 0 -2px 0 $accent, 0 2px 10px rgba(#000, .2);
    }
    ul li {
      display: block;
    }
    .placeholder a {
      /* reduces the opacity of the placeholder on mobile when the menu is open */
      opacity: .4;
    }
  }
  @include MQ(M) {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
    &::after {
      /* hide the arrow */
      display: none;
    }
    ul {
      background: transparent;
      position: static;
      box-shadow: none;
      text-align: center;
    }
    li {
      display: inline-block;
      &.placeholder {
        display: none !important;
      }
    }
    a {
      display: inline-block;
      padding: 0 1em;
      width: auto;
      color: $black;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      .no-touch &:hover {
        color: $accent;
      }
      &.selected {
        background: transparent;
        color: $accent;
        /* create border bottom using box-shadow property */
        box-shadow: inset 0 -2px 0 $accent;
      }
    }
    &.is-open {
      ul li {
        display: inline-block;
      }
    }
  }
  @include MQ(L) {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    @include transition(width .3s);
    &.filter-is-visible {
      /* reduce width when filter is visible */
      width: 80%;
    }
  }
}
.memories {
  padding: 26px 5%;
  width: 100%;
  .col {
    width: 100%;
    display: none;
    margin-bottom: 30px;
  }
  .box {
    box-shadow: 0 1px 4px rgba(#000, .1);
    border-radius: 8px;
    background-color: #fff;
    h3 {
      font-family: 'Hanken', sans-serif;
      margin-bottom: 10px;
      a {
        font-size: 24px;
        color: $accent;
      }
    }
    p {
      color: $grey;
    }
    .image {
      min-height: 270px;
      background:url("../img/room3.jpg") no-repeat center center / cover;
      text-align: center;
      i {
        font-size: 150px;
        color:#fff;
        line-height: 270px;
      }
    }
    &.no-image-type {
      .image {
        background: $grey;
      }
    }
    .info {
      min-height: 170px;
      margin: 40px 20px 20px;
      position: relative;
      .meta {
        position: absolute;
        bottom: 20px;
        width: 100%;
        span {
          color: $grey;
          line-height: 20px;
          &.date {
            float: left;
          }
          &.trunk {
            float: right;
          }
          i {
            color: $accent;
            display: inline-block;
            padding-right: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
  img {
    display: block;
    width: 100%;
  }
  .fail-message {
    display: none;
    text-align: center;
  }
  @include MQ(M) {
    padding: 40px 3%;

    ul {
      @extend %clearfix;
    }
    .col {
      width: 50%;
      margin-bottom: 2em;
    }
  }
  @include MQ(L) {
    padding: 50px 2%;
    float: right;
    @include transition(width .3s);
    .col {
      width: 25%;
    }
    &.filter-is-visible {
      /* reduce width when filter is visible */
      width: 80%;
    }
  }
}

/* --------------------------------

filter

-------------------------------- */

.filter-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #fff;
  box-shadow: 4px 4px 20px rgba(#000, 0);
  z-index: 2;

  /* Force Hardware Acceleration in WebKit */
  @include transform(translateZ(0));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  @include transform(translateX(-100%));
  @include transition(transform .3s, box-shadow .3s);

  &::before {
    /* top colored bar */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: $tab-filter-height;
    width: 100%;
    background-color: $accent;
    z-index: 2;
  }

  form {
    padding: $tab-filter-height+20px 20px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    height: $tab-filter-height;
    line-height: $tab-filter-height;
    width: 60px;

    color: #fff;
    font-size: 18px;
    text-align: center;

    background: darken($accent, 5%);
    opacity: 0;

    @include transition(opacity .3s);
    z-index: 3;

    .no-touch &:hover {
      background: darken($accent, 8%);
    }
  }

  &.filter-is-visible {
    @include transform(translateX(0));
    box-shadow: 4px 4px 20px rgba(#000, .2);

    .close {
      opacity: 1;
    }
  }

  @include MQ(L) {
    width: 20%;

    form {
      padding: $tab-filter-height+20px 10%;
    }
  }
}

.filter-trigger {
  position: absolute;
  top: 0;
  left: 3%;
  height: $tab-filter-height;
  line-height: $tab-filter-height;
  width: 60px;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url('../img/icon-filter-black.svg') no-repeat left center;
  z-index: 3;
  &.filter-is-visible {
    pointer-events: none;
    background: transparent url('../img/icon-filter.svg') no-repeat left center;
  }
  @include MQ(L) {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: $black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;

    padding-left: 24px;
    background-position: left center;

    @include transition(color .3s);

    .no-touch &:hover {
      color: $accent;
    }

    &.filter-is-visible,
    &.filter-is-visible:hover {
      color: #fff;
    }
  }
}
.filter-block {
  padding-bottom: 24px;
  h4 {
    /* filter block title */
    position: relative;
    margin-bottom: .2em;
    padding: 10px 0 10px 20px;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    @include user-select;
    cursor: pointer;
    .no-touch &:hover {
      color: $accent;
    }
    &::before {
      /* arrow */
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 16px;
      height: 16px;
      background: url('../img/icon-arrow-black.svg') no-repeat center center;
      @include transform(translateY(-50%));
      @include transition(transform .3s);
    }

    &.closed::before {
      @include transform(translateY(-50%) rotate(-90deg));
    }
  }
  .list li {
    position: relative;
    margin-bottom: .8em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  label {
    padding-left: 10px;
  }
}