.show-memory-template {
  .container {
    overflow: hidden;
  }
  .title {
    width:100%;
    overflow: hidden;
    h2, p {
      float: left;
    }
  }
  .date {
    margin-top: 40px;
    display: inline-block;
  }
  .content {
    margin-top: 10px;
  }
  .actions {
    float: right;
    margin-top: 50px;
    .button {
      margin-left: 20px;
    }
  }
}
.memory-file-cont {
  height: 600px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  background-color: #484848;
  .vertical-align-helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  img {
    vertical-align: middle;
    max-width: 100%;
    max-height:100%;
  }
  .memory-file {
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    &.icon {
      font-size: 240px;
      color: #fff;
      &:hover {
        color: $accent;
      }
    }
  }
  .video-wrapper {
    width: 80%;
    max-width: 800px;
    display: inline-block;
    vertical-align: middle;
    .video-js {
      padding-top: 56.25%;
      max-width: 100%;
      height: 100%;
      width: 100%;
    }
  }
}