$grey : #919191;
$accent : #ff4d55;
$accent-darker1 : #ff4c11;
$accent-darker2 : #ff2a11;
$accent-darker3 : #ff1a11;
$black: #484848;
$success: #00AA00;
$error: #cc0000;
$border: #eee;
$disabled: #EBEBE4;

$sm_desk: "(max-width: 1350px)";
$tablet: "(max-width: 1250px)";
$sm_tablet: "(max-width: 979px)";
$mobile: "(max-width: 767px)";
$sm_mobile: "(max-width: 579px)";
$xs_mobile: "(max-width: 400px)";

// tab-filter size
$tab-filter-height: 60px;