@charset "UTF-8";
/* Mixin */
.action-bar, .main-content, .tab-filter-wrapper, .memories ul {
  *zoom: 1; }
  .action-bar:before, .main-content:before, .tab-filter-wrapper:before, .memories ul:before, .action-bar:after, .main-content:after, .tab-filter-wrapper:after, .memories ul:after {
    content: " ";
    display: table; }
  .action-bar:after, .main-content:after, .tab-filter-wrapper:after, .memories ul:after {
    clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=cb2c89163e1cdc924155cf6fc69c6027)
 * Config saved to config.json and https://gist.github.com/cb2c89163e1cdc924155cf6fc69c6027
 */
/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only, .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after, .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after, .bootstrap-datetimepicker-widget .btn[data-action="today"]::after, .bootstrap-datetimepicker-widget .picker-switch::after, .bootstrap-datetimepicker-widget table th.prev::after, .bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.fade {
  opacity: 0;
  transition: opacity 0.15s linear; }

.fade.in {
  opacity: 1; }

.collapse {
  display: none; }

.collapse.in {
  display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: 0.35s;
  transition-timing-function: ease; }

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20); }

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000; }

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0); }

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0; }

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }

.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table; }

.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none; }

.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74; }

.btn-primary:active {
  background-image: none; }

.collapse {
  display: none;
  visibility: hidden; }

.collapse.in {
  display: block;
  visibility: visible; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height, visibility; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

/*!
 * Datepicker v0.3.1
 * https://github.com/fengyuanchen/datepicker
 *
 * Copyright (c) 2014-2016 Fengyuan Chen
 * Released under the MIT license
 *
 * Date: 2016-01-11T04:07:30.531Z
 */
.datepicker-container {
  font-size: 12px;
  line-height: 30px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 210px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  direction: ltr !important;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.datepicker-container:before,
.datepicker-container:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: ' ';
  border: 5px solid transparent; }

.datepicker-dropdown {
  position: absolute;
  z-index: 1;
  box-sizing: content-box;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px #ccc; }

.datepicker-inline {
  position: static; }

.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #39f; }

.datepicker-top-left:before,
.datepicker-top-left:after,
.datepicker-top-right:before,
.datepicker-top-right:after {
  top: -5px;
  left: 10px;
  border-top: 0; }

.datepicker-top-left:before,
.datepicker-top-right:before {
  border-bottom-color: #39f; }

.datepicker-top-left:after,
.datepicker-top-right:after {
  top: -4px;
  border-bottom-color: #fff; }

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f; }

.datepicker-bottom-left:before,
.datepicker-bottom-left:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
  bottom: -5px;
  left: 10px;
  border-bottom: 0; }

.datepicker-bottom-left:before,
.datepicker-bottom-right:before {
  border-top-color: #39f; }

.datepicker-bottom-left:after,
.datepicker-bottom-right:after {
  bottom: -4px;
  border-top-color: #fff; }

.datepicker-top-right:before,
.datepicker-top-right:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
  right: 10px;
  left: auto; }

.datepicker-panel > ul:before,
.datepicker-panel > ul:after {
  display: table;
  content: ' '; }

.datepicker-panel > ul:after {
  clear: both; }

.datepicker-panel > ul {
  width: 102%;
  margin: 0;
  padding: 0; }

.datepicker-panel > ul > li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  text-align: center;
  background-color: #fff; }

.datepicker-panel > ul > li:hover {
  background-color: #eee; }

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #999; }

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #39f; }

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  cursor: default;
  color: #ccc;
  background-color: #fff; }

.datepicker-panel > ul > li[data-view='years prev'],
.datepicker-panel > ul > li[data-view='year prev'],
.datepicker-panel > ul > li[data-view='month prev'],
.datepicker-panel > ul > li[data-view='years next'],
.datepicker-panel > ul > li[data-view='year next'],
.datepicker-panel > ul > li[data-view='month next'],
.datepicker-panel > ul > li[data-view='next'] {
  font-size: 18px; }

.datepicker-panel > ul > li[data-view='years current'],
.datepicker-panel > ul > li[data-view='year current'],
.datepicker-panel > ul > li[data-view='month current'] {
  width: 150px; }

.datepicker-panel > ul[data-view='years'] > li,
.datepicker-panel > ul[data-view='months'] > li {
  line-height: 52.5px;
  width: 52.5px;
  height: 52.5px; }

.datepicker-panel > ul[data-view='week'] > li,
.datepicker-panel > ul[data-view='week'] > li:hover {
  cursor: default;
  background-color: #fff; }

.datepicker-hide {
  display: none; }

/* custom */
.datepicker-container {
  z-index: 1051 !important; }

.datepicker-dropdown {
  border-color: #eee; }

.datepicker-top-left, .datepicker-top-right {
  border-top-color: #eee; }

.datepicker-top-left:before, .datepicker-top-right:before {
  border-bottom-color: #eee; }

.datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
  color: #ff4d55; }

.datepicker-panel > ul > li:hover {
  transition: background-color 0.15s ease-in, color 0.15s ease-in; }

/*!
 * Datetimepicker for Bootstrap 3
 * ! version : 4.7.14
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.sr-only, .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after, .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after, .bootstrap-datetimepicker-widget .btn[data-action="today"]::after, .bootstrap-datetimepicker-widget .picker-switch::after, .bootstrap-datetimepicker-widget table th.prev::after, .bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.bootstrap-datetimepicker-widget {
  list-style: none; }
  .bootstrap-datetimepicker-widget.dropdown-menu {
    margin: 2px 0;
    padding: 4px;
    width: 19em; }
    @media (min-width: 768px) {
      .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em; } }
    @media (min-width: 992px) {
      .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em; } }
    @media (min-width: 1200px) {
      .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em; } }
    .bootstrap-datetimepicker-widget.dropdown-menu:before, .bootstrap-datetimepicker-widget.dropdown-menu:after {
      content: '';
      display: inline-block;
      position: absolute; }
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      top: -7px;
      left: 7px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      top: -6px;
      left: 8px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.top:before {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #ccc;
      border-top-color: rgba(0, 0, 0, 0.2);
      bottom: -7px;
      left: 6px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid white;
      bottom: -6px;
      left: 7px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
      left: auto;
      right: 6px; }
    .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
      left: auto;
      right: 7px; }
  .bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0; }
  .bootstrap-datetimepicker-widget a[data-action] {
    padding: 6px 0; }
  .bootstrap-datetimepicker-widget a[data-action]:active {
    box-shadow: none; }
  .bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
    width: 54px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0; }
  .bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px; }
  .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
    content: "Increment Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
    content: "Increment Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
    content: "Decrement Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
    content: "Decrement Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
    content: "Show Hours"; }
  .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
    content: "Show Minutes"; }
  .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
    content: "Toggle AM/PM"; }
  .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
    content: "Clear the picker"; }
  .bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
    content: "Set the date to today"; }
  .bootstrap-datetimepicker-widget .picker-switch {
    text-align: center; }
    .bootstrap-datetimepicker-widget .picker-switch::after {
      content: "Toggle Date and Time Screens"; }
    .bootstrap-datetimepicker-widget .picker-switch td {
      padding: 0;
      margin: 0;
      height: auto;
      width: auto;
      line-height: inherit; }
      .bootstrap-datetimepicker-widget .picker-switch td span {
        line-height: 2.5;
        height: 2.5em;
        width: 100%; }
  .bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0; }
    .bootstrap-datetimepicker-widget table td,
    .bootstrap-datetimepicker-widget table th {
      text-align: center;
      border-radius: 4px; }
    .bootstrap-datetimepicker-widget table th {
      height: 20px;
      line-height: 20px;
      width: 20px; }
      .bootstrap-datetimepicker-widget table th.picker-switch {
        width: 145px; }
      .bootstrap-datetimepicker-widget table th.disabled, .bootstrap-datetimepicker-widget table th.disabled:hover {
        background: none;
        color: #777777;
        cursor: not-allowed; }
      .bootstrap-datetimepicker-widget table th.prev::after {
        content: "Previous Month"; }
      .bootstrap-datetimepicker-widget table th.next::after {
        content: "Next Month"; }
    .bootstrap-datetimepicker-widget table thead tr:first-child th {
      cursor: pointer; }
      .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
        background: #eeeeee; }
    .bootstrap-datetimepicker-widget table td {
      height: 54px;
      line-height: 54px;
      width: 54px; }
      .bootstrap-datetimepicker-widget table td.cw {
        font-size: .8em;
        height: 20px;
        line-height: 20px;
        color: #777777; }
      .bootstrap-datetimepicker-widget table td.day {
        height: 20px;
        line-height: 20px;
        width: 20px; }
      .bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
        background: #eeeeee;
        cursor: pointer; }
      .bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
        color: #777777; }
      .bootstrap-datetimepicker-widget table td.today {
        position: relative; }
        .bootstrap-datetimepicker-widget table td.today:before {
          content: '';
          display: inline-block;
          border: 0 0 7px 7px solid transparent;
          border-bottom-color: #ff2c35;
          border-top-color: rgba(0, 0, 0, 0.2);
          position: absolute;
          bottom: 4px;
          right: 4px; }
      .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
        background-color: #ff2c35;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
      .bootstrap-datetimepicker-widget table td.active.today:before {
        border-bottom-color: #fff; }
      .bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
        background: none;
        color: #777777;
        cursor: not-allowed; }
      .bootstrap-datetimepicker-widget table td span {
        display: inline-block;
        width: 54px;
        height: 54px;
        line-height: 54px;
        margin: 2px 1.5px;
        cursor: pointer;
        border-radius: 4px; }
        .bootstrap-datetimepicker-widget table td span:hover {
          background: #eeeeee; }
        .bootstrap-datetimepicker-widget table td span.active {
          background-color: #ff2c35;
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
        .bootstrap-datetimepicker-widget table td span.old {
          color: #777777; }
        .bootstrap-datetimepicker-widget table td span.disabled, .bootstrap-datetimepicker-widget table td span.disabled:hover {
          background: none;
          color: #777777;
          cursor: not-allowed; }
  .bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 27px;
    line-height: 27px; }

.input-group.date .input-group-addon {
  cursor: pointer; }

@font-face {
  font-family: "Hanken";
  font-weight: 700;
  src: url("../fonts/hanken/hanken-book-webfont.eot");
  src: url("../fonts/hanken/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hanken/hanken-book-webfont.woff2") format("woff2"), url("../fonts/hanken/hanken-book-webfont.woff") format("woff"), url("../fonts/hanken/hanken-book-webfont.ttf") format("truetype"), url("../fonts/hanken/hanken-book-webfont.svg#Hanken") format("svg"); }

@font-face {
  font-family: "Hanken";
  font-weight: 400;
  src: url("../fonts/hanken/hanken-light-webfont.eot");
  src: url("../fonts/hanken/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hanken/hanken-light-webfont.woff2") format("woff2"), url("../fonts/hanken/hanken-light-webfont.woff") format("woff"), url("../fonts/hanken/hanken-light-webfont.ttf") format("truetype"), url("../fonts/hanken/hanken-light-webfont.svg#Hanken") format("svg"); }

h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Hanken", sans-serif; }

h2 {
  font-size: 38px;
  font-weight: 700; }

h3 {
  font-size: 24px;
  font-weight: 700; }

p {
  font-size: 18px;
  line-height: 27px;
  color: #484848; }

a {
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  transition: color 0.2s ease-out;
  color: #484848; }
  a:hover {
    color: #ff4d55; }

b {
  font-weight: bold; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #484848;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff; }

img {
  max-width: 100%; }

.container {
  width: 1250px;
  padding: 0 15px;
  margin: 0 auto; }

.container-sm {
  width: 870px;
  padding: 0 15px;
  margin: 0 auto; }

.blank-layout {
  background: #f7f7f7;
  min-width: 320px;
  min-height: 100%; }
  .blank-layout .logo {
    text-align: center;
    padding-top: 20px; }
  .blank-layout .box {
    max-width: 400px;
    margin: 20px auto 20px;
    background-color: #FFF;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #CCC; }

.errors li {
  line-height: 26px;
  color: red; }

.action-bar {
  line-height: 60px;
  background-color: #fff; }
  .action-bar .trunk {
    float: left; }
    .action-bar .trunk label {
      float: left;
      display: inline-block;
      line-height: 60px;
      padding-right: 10px;
      font-size: 18px; }
    .action-bar .trunk .tooltip-select {
      float: left;
      display: inline-block;
      width: 200px;
      padding: 9px 0; }
  .action-bar .social {
    float: right; }
    .action-bar .social > span, .action-bar .social > ul, .action-bar .social > ul li {
      float: left; }
    .action-bar .social span {
      font-size: 18px;
      font-weight: 600;
      display: inline-block;
      padding-right: 10px; }
    .action-bar .social a {
      display: inline-block;
      line-height: 60px;
      padding: 0 5px; }

.grid {
  margin-left: -20px;
  margin-right: -20px; }
  .grid .col {
    float: left;
    padding: 0 20px; }

.form-section {
  padding: 60px 0 100px; }
  .form-section .container {
    width: 700px; }

.listing-section {
  padding: 60px 0 100px;
  min-height: 450px; }

.container.small {
  width: 700px; }

p.no-resource {
  font-size: 18px; }

.table {
  display: table;
  width: 100%;
  letter-spacing: .25px;
  border-collapse: collapse;
  box-sizing: border-box;
  background: #fff; }
  .table .row {
    display: table-row; }
    .table .row.head .cell {
      font-weight: bold;
      border-top: 0; }
    .table .row .cell {
      display: table-cell;
      padding: 12px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      line-height: 18px;
      vertical-align: top;
      font-weight: 300; }
      .table .row .cell a {
        font-size: 16px;
        line-height: 18px; }
  .table .actions {
    text-align: right; }
    .table .actions a {
      margin-left: 8px; }
    .table .actions i {
      padding-right: 4px; }

.fa.fa-facebook-official {
  color: #3b5998; }

header {
  height: 80px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff; }
  header .logo {
    float: left; }
  header .menu {
    float: right;
    height: 80px; }
    header .menu > ul li {
      position: relative;
      float: left; }
      header .menu > ul li:before {
        border-right: 1px solid rgba(0, 0, 0, 0.075);
        content: "";
        height: 1.75rem;
        left: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 0; }
      header .menu > ul li:first-child:before {
        display: none; }
    header .menu > ul a {
      font-family: 'Hanken', sans-serif;
      display: inline-block;
      color: #919191;
      padding: 0 22px;
      font-size: 16px;
      line-height: 80px; }
      header .menu > ul a:hover {
        color: #ff4d55; }

.logo h1 a {
  color: #000;
  line-height: 80px;
  font-size: 36px;
  font-family: 'Source Sans Pro', sans-serif; }

.banner {
  background-color: #fbfbfb;
  padding: 80px 0;
  text-align: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25); }

.page-title {
  padding: 70px 0;
  position: relative;
  text-align: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  background-color: #f9f9f9; }
  .page-title .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 0; }
  .page-title h1, .page-title a {
    position: relative;
    z-index: 1; }
  .page-title a.add {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 30px;
    border-radius: 50%;
    font-size: 20px;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px; }
  .page-title.with-image {
    padding: 120px 0; }
    .page-title.with-image h1 {
      color: #fff; }
  .page-title > input[type="text"] {
    width: 500px;
    position: relative;
    margin: 20px auto 0; }

footer {
  height: 140px;
  background-color: #2f2929;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

footer .copyright {
  color: #adadb2;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.button, button {
  font-weight: 400;
  background-color: #ff4d55;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 12px 24px;
  text-align: center;
  transition: 0.2s background-color ease-out;
  line-height: 16px;
  font-family: 'Source Sans Pro', sans-serif; }
  .button.full-width, button.full-width {
    width: 100%; }
  .button:hover, button:hover {
    background-color: #484848;
    color: #fff; }
  .button.disabled, button.disabled {
    background-color: #EBEBE4;
    cursor: not-allowed; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .form-control, .select2-container .select2-choice {
  border: 1px solid #eee;
  border-radius: 3px;
  display: block;
  outline: 0;
  padding: 11px 10px 11px;
  vertical-align: middle;
  width: 100%;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Source Sans Pro', sans-serif; }

input[readonly] {
  color: #919191; }

.fs-checkbox-marker {
  border-radius: 3px; }

.checkbox-cont label {
  display: inline-block;
  line-height: 20px; }

.checkbox-cont .fs-checkbox-marker {
  margin-right: 10px; }

label {
  color: #484848;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.67; }

.fs-dropdown {
  outline: 0; }

.fs-dropdown-selected {
  border: 1px solid #eee;
  padding: 11px 10px 11px;
  background: transparent;
  color: #484848;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  outline: 0; }
  .fs-dropdown-selected:hover {
    background-color: #fff;
    color: #484848; }
  .fs-dropdown-selected:after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    z-index: 1;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    background: url("../img/icon-arrow.svg") no-repeat center center/12px;
    pointer-events: none; }

.fs-dropdown-options {
  border: 1px solid #eee;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(46, 46, 46, 0.2);
  position: absolute;
  visibility: hidden;
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -10;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, transform;
  transition-timing-function: linear, linear, cubic-bezier(0, 0, 0.265, 1.55);
  transition-duration: 0s, 0s, 130ms; }

.fs-dropdown-item {
  display: block;
  text-align: left;
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  color: #919191;
  font-family: 'Source Sans Pro', sans-serif; }
  .fs-dropdown-item:last-child {
    border-bottom: 0; }
  .fs-dropdown-item:hover {
    background: inherit;
    color: #ff4d55; }

.fs-dropdown-item_selected {
  background: inherit;
  color: #ff4d55; }

.fs-dropdown-open {
  outline: none;
  border-radius: 0 0 3px 3px; }
  .fs-dropdown-open .fs-dropdown-options {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 9999;
    transition-duration: 0s, 100ms, 100ms; }
  .fs-dropdown-open .fs-dropdown-selected {
    border-radius: 3px 3px 0 0; }
  .fs-dropdown-open.fs-dropdown-bottom .fs-dropdown-selected {
    border-radius: 0 0 3px 3px; }
  .fs-dropdown-open.fs-dropdown-bottom .fs-dropdown-options {
    border: 1px solid #eee;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    box-shadow: 0; }

.fs-dropdown-multiple .fs-dropdown-options {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 9999;
  transition-duration: 0s, 100ms, 100ms;
  box-shadow: none;
  border: 1px solid #eee;
  /*.fs-dropdown-item {
    @include transition(background-color 0.1s ease-in);
    &:hover {
      background-color: $accent;
      color: #fff;
    }
  }
  .fs-dropdown-item_selected {
    background-color: $accent;
    color: #fff;
  }*/ }
  .fs-dropdown-multiple .fs-dropdown-options .fs-dropdown-item {
    outline: none; }

.form-field {
  position: relative;
  padding-bottom: 24px; }
  .form-field span.error {
    position: absolute;
    font-size: 14px;
    line-height: 18px;
    color: #cc0000;
    bottom: 4px;
    left: 0; }

textarea {
  min-height: 150px;
  resize: none; }

.horizontal-line {
  overflow: hidden;
  color: #919191;
  margin: 20px 0;
  text-align: center; }
  .horizontal-line .horizontal-text:before, .horizontal-line .horizontal-text:after {
    content: "";
    position: absolute;
    display: block;
    width: 1000px;
    border-top: 1px solid #E5E5E5;
    top: 10px; }
  .horizontal-line .horizontal-text {
    display: inline-block;
    position: relative;
    z-index: 2;
    font-size: 16px;
    line-height: 19px; }
    .horizontal-line .horizontal-text:before {
      right: 100%;
      margin-right: 12px; }
    .horizontal-line .horizontal-text:after {
      left: 100%;
      margin-left: 12px; }

.social-icon {
  width: 34px;
  height: 34px;
  display: inline-block;
  text-align: center;
  position: relative; }
  .social-icon i.fa {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    line-height: 34px; }
  .social-icon.facebook {
    background-color: #3B5998; }
  .social-icon.google-plus {
    background-color: #DF4A32; }

.progress-bar {
  width: 10px;
  height: 100%;
  position: relative;
  float: right; }
  .progress-bar > div {
    width: 100%;
    background-color: #00AA00;
    transition: height 0.2s linear;
    position: absolute;
    left: 0;
    bottom: 0; }

/*!
 * Bootstrap v3.3.4 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=a70900fbb00f2efcb6c7)
 * Config saved to config.json and https://gist.github.com/a70900fbb00f2efcb6c7
 */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only, .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after, .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after, .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after, .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after, .bootstrap-datetimepicker-widget .btn[data-action="today"]::after, .bootstrap-datetimepicker-widget .picker-switch::after, .bootstrap-datetimepicker-widget table th.prev::after, .bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.fade {
  opacity: 0;
  transition: opacity 0.15s linear; }

.fade.in {
  opacity: 1; }

.collapse {
  display: none; }

.collapse.in {
  display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: 0.35s;
  transition-timing-function: ease; }

.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000; }

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0); }

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0; }

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 750px;
    margin: 30px auto; }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }

.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table; }

.clearfix:after,
.modal-footer:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.modal-dialog {
  margin-top: 80px; }

.modal-content {
  padding: 50px 50px 60px 50px; }

.modal-header {
  padding: 0;
  border: 0; }
  .modal-header .close {
    position: absolute;
    right: 10px;
    top: 6px;
    background-color: transparent;
    color: #ff4d55;
    font-size: 30px;
    padding: 0;
    margin: 0;
    line-height: 30px; }

.modal-body {
  padding: 0;
  margin-top: 40px; }

.modal-footer {
  margin-top: 20px;
  padding: 0;
  border: 0; }
  .modal-footer a.button, .modal-footer button {
    margin-left: 20px; }
    .modal-footer a.button.full-width, .modal-footer button.full-width {
      margin-left: 0; }

.twitter-typeahead {
  width: 100%; }

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none; }

.typeahead {
  background-color: #fff; }

.typeahead:focus {
  border: 2px solid #ff4d55;
  color: #fff; }

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.tt-hint {
  color: #999; }

.tt-dropdown-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px; }

.tt-suggestion:hover {
  cursor: pointer;
  background-color: #ff4d55; }
  .tt-suggestion:hover p {
    color: #fff; }

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #ff4d55; }

.tt-suggestion p {
  margin: 0; }

.flash-notification {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  background-color: #484848;
  width: 100%;
  padding: 20px 0;
  z-index: 9999; }
  .flash-notification .container {
    position: relative; }
  .flash-notification span {
    font-size: 16px;
    line-height: 30px;
    color: #fff; }
  .flash-notification button.close {
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -15px;
    background-color: transparent;
    opacity: 0.8;
    filter: alpha(opacity=80); }
    .flash-notification button.close span {
      color: #fff;
      font-size: 20px;
      line-height: 30px; }
  .flash-notification.error {
    background-color: #cc0000; }
  .flash-notification.success {
    background-color: #00AA00; }

/**
 * selectize.css (v0.12.1)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  box-shadow: inset 0 0 12px 4px #ffffff; }

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden; }

.selectize-control.plugin-drag_drop .ui-sortable-helper {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  border-radius: 3px 3px 0 0; }

.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important; }

.selectize-dropdown-header-close:hover {
  color: #000000; }

.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  box-sizing: border-box; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none; }

.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important; }

.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #d0d0d0;
  border-radius: 0 2px 2px 0;
  box-sizing: border-box; }

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05); }

.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff; }

.selectize-control {
  position: relative; }

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: inherit; }

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block; }

.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 8px 8px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px; }

.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 3px; }

.selectize-input.full {
  background-color: #ffffff; }

.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important; }

.selectize-input.focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15); }

.selectize-input.dropdown-active {
  border-radius: 3px 3px 0 0; }

.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #f2f2f2;
  color: #303030;
  border: 0 solid #d0d0d0; }

.selectize-control.multi .selectize-input > div.active {
  background: #e8e8e8;
  color: #303030;
  border: 0 solid #cacaca; }

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #7d7d7d;
  background: #ffffff;
  border: 0 solid #ffffff; }

.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 2px 0 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  box-shadow: none !important; }

.selectize-input > input::-ms-clear {
  display: none; }

.selectize-input > input:focus {
  outline: none !important; }

.selectize-input::after {
  content: ' ';
  display: block;
  clear: left; }

.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0; }

.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px; }

.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden; }

.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  border-radius: 1px; }

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px; }

.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none; }

.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #ffffff;
  cursor: default; }

.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68; }

.selectize-dropdown .active.create {
  color: #495c68; }

.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5); }

.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px; }

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer; }

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text; }

.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent; }

.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent; }

.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto; }

.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important; }

.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa; }

/**
 * selectize.default.css (v0.12.1) - Default Theme
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  box-shadow: inset 0 0 12px 4px #ffffff; }

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden; }

.selectize-control.plugin-drag_drop .ui-sortable-helper {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  border-radius: 3px 3px 0 0; }

.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important; }

.selectize-dropdown-header-close:hover {
  color: #000000; }

.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  box-sizing: border-box; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none; }

.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important; }

.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #ff4c11;
  border-radius: 0 2px 2px 0;
  box-sizing: border-box; }

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05); }

.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #00578d; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #aaaaaa; }

.selectize-control {
  position: relative; }

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: inherit; }

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block; }

.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 8px 8px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px; }

.selectize-control.multi .selectize-input.has-items {
  padding: 5px 8px 2px; }

.selectize-input.full {
  background-color: #ffffff; }

.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important; }

.selectize-input.focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15); }

.selectize-input.dropdown-active {
  border-radius: 3px 3px 0 0; }

.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #ff4d55;
  color: #ffffff;
  border: 1px solid #ff4c11; }

.selectize-control.multi .selectize-input > div.active {
  background: #92c836;
  color: #ffffff;
  border: 1px solid #00578d; }

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #ffffff;
  background: #d2d2d2;
  border: 1px solid #aaaaaa; }

.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 1px !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  box-shadow: none !important; }

.selectize-input > input::-ms-clear {
  display: none; }

.selectize-input > input:focus {
  outline: none !important; }

.selectize-input::after {
  content: ' ';
  display: block;
  clear: left; }

.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0; }

.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px; }

.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden; }

.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  border-radius: 1px; }

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px; }

.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none; }

.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #ffffff;
  cursor: default; }

.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68; }

.selectize-dropdown .active.create {
  color: #495c68; }

.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5); }

.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px; }

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer; }

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text; }

.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent; }

.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent; }

.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto; }

.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important; }

.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa; }

.selectize-control.multi .selectize-input.has-items {
  padding-left: 5px;
  padding-right: 5px; }

.selectize-control.multi .selectize-input.disabled [data-value] {
  color: #999;
  text-shadow: none;
  background: none;
  box-shadow: none; }

.selectize-control.multi .selectize-input.disabled [data-value],
.selectize-control.multi .selectize-input.disabled [data-value] .remove {
  border-color: #e6e6e6; }

.selectize-control.multi .selectize-input.disabled [data-value] .remove {
  background: none; }

.selectize-control.multi .selectize-input [data-value] {
  text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
  border-radius: 3px;
  background-color: #ff4c11;
  background-image: linear-gradient(to bottom, #ff4d55, #ff4c11);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da7ee', endColorstr='#ff178ee9', GradientType=0);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03); }

.selectize-control.multi .selectize-input [data-value].active {
  background-color: #ff2a11;
  background-image: linear-gradient(to bottom, #ff2a11, #ff1a11);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008fd8', endColorstr='#ff0075cf', GradientType=0); }

.selectize-control.single .selectize-input {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #f9f9f9;
  background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0); }

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
  border-color: #b8b8b8; }

.selectize-dropdown .optgroup-header {
  padding-top: 7px;
  font-weight: bold;
  font-size: 0.85em; }

.selectize-dropdown .optgroup {
  border-top: 1px solid #f0f0f0; }

.selectize-dropdown .optgroup:first-child {
  border-top: 0 none; }

.selectize-input {
  border: 1px solid #eee;
  padding: 10px 11px;
  box-shadow: none; }

.selectize-control.multi .selectize-input.has-items {
  padding: 11px 10px 8px; }

p.intro {
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  padding: 20px 70px; }

.app-description {
  padding: 60px 0 140px; }
  .app-description .section {
    margin-top: 20px;
    display: table;
    width: 100%; }
    .app-description .section h3 {
      margin: 0 0 14px; }
  .app-description .col {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px; }

.call-to-action {
  margin-top: 60px;
  text-align: center;
  padding: 0 70px; }
  .call-to-action > p {
    margin-bottom: 14px; }
  .call-to-action .button {
    font-size: 18px;
    padding: 14px 0; }

.auth-box .form-field {
  padding-bottom: 10px; }

.auth-box .errors {
  margin-bottom: 20px; }

.auth-box button {
  margin-top: 20px; }

.auth-box .social-cont {
  text-align: center; }
  .auth-box .social-cont .social-icon {
    margin: 0 3px; }

body.memories-list-template {
  background-color: #f7f7f7; }

.main-content {
  position: relative;
  min-height: 100vh; }
  .main-content.is-fixed .tab-filter-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  .main-content.is-fixed .memories {
    padding-top: 86px; }
  .main-content.is-fixed .filter-cont {
    position: fixed;
    height: 100vh;
    overflow: hidden; }
    .main-content.is-fixed .filter-cont form {
      height: 100vh;
      overflow: auto;
      -webkit-overflow-scrolling: touch; }
    .main-content.is-fixed .filter-cont .button {
      margin-top: 10px; }
  .main-content.is-fixed .filter-trigger {
    position: fixed; }
  @media only screen and (min-width: 768px) {
    .main-content.is-fixed .memories {
      padding-top: 100px; } }
  @media only screen and (min-width: 1170px) {
    .main-content.is-fixed .memories {
      padding-top: 110px; } }

.tab-filter-wrapper {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1; }

.tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 60px;
  width: 140px;
  margin: 0 auto;
  z-index: 1; }
  .tab-filter::after {
    content: '';
    position: absolute;
    right: 14px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../img/icon-arrow-black.svg") no-repeat center center;
    transition: all 0.3s;
    pointer-events: none; }
  .tab-filter ul {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: inset 0 -2px 0 #ff4d55; }
  .tab-filter li {
    display: none; }
    .tab-filter li:first-child {
      /* this way the placehodler is alway visible */
      display: block; }
  .tab-filter a {
    display: block;
    /* set same size of the .tab-filter */
    height: 60px;
    width: 140px;
    line-height: 60px;
    padding-left: 14px; }
    .tab-filter a.selected {
      background: #ff4d55;
      color: #fff; }
  .tab-filter.is-open::after {
    /* small arrow rotation */
    -webkit-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg); }
  .tab-filter.is-open ul {
    box-shadow: inset 0 -2px 0 #ff4d55, 0 2px 10px rgba(0, 0, 0, 0.2); }
  .tab-filter.is-open ul li {
    display: block; }
  .tab-filter.is-open .placeholder a {
    /* reduces the opacity of the placeholder on mobile when the menu is open */
    opacity: .4; }
  @media only screen and (min-width: 768px) {
    .tab-filter {
      /* tabbed navigation style on medium devices */
      width: auto;
      cursor: auto; }
      .tab-filter::after {
        /* hide the arrow */
        display: none; }
      .tab-filter ul {
        background: transparent;
        position: static;
        box-shadow: none;
        text-align: center; }
      .tab-filter li {
        display: inline-block; }
        .tab-filter li.placeholder {
          display: none !important; }
      .tab-filter a {
        display: inline-block;
        padding: 0 1em;
        width: auto;
        color: #484848;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px; }
        .no-touch .tab-filter a:hover {
          color: #ff4d55; }
        .tab-filter a.selected {
          background: transparent;
          color: #ff4d55;
          /* create border bottom using box-shadow property */
          box-shadow: inset 0 -2px 0 #ff4d55; }
      .tab-filter.is-open ul li {
        display: inline-block; } }
  @media only screen and (min-width: 1170px) {
    .tab-filter {
      /* tabbed navigation on big devices */
      width: 100%;
      float: right;
      margin: 0;
      transition: width 0.3s; }
      .tab-filter.filter-is-visible {
        /* reduce width when filter is visible */
        width: 80%; } }

.memories {
  padding: 26px 5%;
  width: 100%; }
  .memories .col {
    width: 100%;
    display: none;
    margin-bottom: 30px; }
  .memories .box {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff; }
    .memories .box h3 {
      font-family: 'Hanken', sans-serif;
      margin-bottom: 10px; }
      .memories .box h3 a {
        font-size: 24px;
        color: #ff4d55; }
    .memories .box p {
      color: #919191; }
    .memories .box .image {
      min-height: 270px;
      background: url("../img/room3.jpg") no-repeat center center/cover;
      text-align: center; }
      .memories .box .image i {
        font-size: 150px;
        color: #fff;
        line-height: 270px; }
    .memories .box.no-image-type .image {
      background: #919191; }
    .memories .box .info {
      min-height: 170px;
      margin: 40px 20px 20px;
      position: relative; }
      .memories .box .info .meta {
        position: absolute;
        bottom: 20px;
        width: 100%; }
        .memories .box .info .meta span {
          color: #919191;
          line-height: 20px; }
          .memories .box .info .meta span.date {
            float: left; }
          .memories .box .info .meta span.trunk {
            float: right; }
          .memories .box .info .meta span i {
            color: #ff4d55;
            display: inline-block;
            padding-right: 10px;
            font-size: 20px; }
  .memories img {
    display: block;
    width: 100%; }
  .memories .fail-message {
    display: none;
    text-align: center; }
  @media only screen and (min-width: 768px) {
    .memories {
      padding: 40px 3%; }
      .memories .col {
        width: 50%;
        margin-bottom: 2em; } }
  @media only screen and (min-width: 1170px) {
    .memories {
      padding: 50px 2%;
      float: right;
      transition: width 0.3s; }
      .memories .col {
        width: 25%; }
      .memories.filter-is-visible {
        /* reduce width when filter is visible */
        width: 80%; } }

/* --------------------------------

filter

-------------------------------- */
.filter-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #fff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: -webkit-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s; }
  .filter-cont::before {
    /* top colored bar */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #ff4d55;
    z-index: 2; }
  .filter-cont form {
    padding: 80px 20px; }
  .filter-cont .close {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    width: 60px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background: #ff343d;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 3; }
    .no-touch .filter-cont .close:hover {
      background: #ff242e; }
  .filter-cont.filter-is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2); }
    .filter-cont.filter-is-visible .close {
      opacity: 1; }
  @media only screen and (min-width: 1170px) {
    .filter-cont {
      width: 20%; }
      .filter-cont form {
        padding: 80px 10%; } }

.filter-trigger {
  position: absolute;
  top: 0;
  left: 3%;
  height: 60px;
  line-height: 60px;
  width: 60px;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("../img/icon-filter-black.svg") no-repeat left center;
  z-index: 3; }
  .filter-trigger.filter-is-visible {
    pointer-events: none;
    background: transparent url("../img/icon-filter.svg") no-repeat left center; }
  @media only screen and (min-width: 1170px) {
    .filter-trigger {
      width: auto;
      left: 2%;
      text-indent: 0;
      color: #484848;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      padding-left: 24px;
      background-position: left center;
      transition: color 0.3s; }
      .no-touch .filter-trigger:hover {
        color: #ff4d55; }
      .filter-trigger.filter-is-visible, .filter-trigger.filter-is-visible:hover {
        color: #fff; } }

.filter-block {
  padding-bottom: 24px; }
  .filter-block h4 {
    /* filter block title */
    position: relative;
    margin-bottom: .2em;
    padding: 10px 0 10px 20px;
    color: #484848;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
    .no-touch .filter-block h4:hover {
      color: #ff4d55; }
    .filter-block h4::before {
      /* arrow */
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 16px;
      height: 16px;
      background: url("../img/icon-arrow-black.svg") no-repeat center center;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s; }
    .filter-block h4.closed::before {
      -webkit-transform: translateY(-50%) rotate(-90deg);
      transform: translateY(-50%) rotate(-90deg); }
  .filter-block .list li {
    position: relative;
    margin-bottom: .8em; }
    .filter-block .list li:last-of-type {
      margin-bottom: 0; }
  .filter-block label {
    padding-left: 10px; }

.create-memory-template .page-title {
  background: url("../img/add-memory-banner.jpg") no-repeat center center/cover; }

.create-memory-template p.intro {
  margin-bottom: 30px;
  padding: 0;
  font-weight: 500; }
  .create-memory-template p.intro a {
    font-size: 20px;
    color: #ff4d55; }

.create-memory-template .modal textarea {
  min-height: 100px; }

.drag-drop-section {
  background-color: #f7f7f7;
  padding: 30px 0 300px; }
  .drag-drop-section .button {
    width: 100%;
    margin-top: 10px; }

#drag-drop-area {
  border: 4px dashed #484848;
  text-align: center; }
  #drag-drop-area .cloud-upload-container {
    height: 200px;
    position: relative; }
    #drag-drop-area .cloud-upload-container .fa-cloud-upload {
      font-size: 120px;
      cursor: pointer;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: color 0.1s ease-in;
      color: #484848; }
      #drag-drop-area .cloud-upload-container .fa-cloud-upload:hover {
        color: #919191; }
  #drag-drop-area.dragover {
    border-color: #919191; }
    #drag-drop-area.dragover .fa-cloud-upload {
      color: #919191; }

#files-list {
  margin-top: 30px; }
  #files-list .file {
    background-color: #fff;
    margin-bottom: 10px;
    line-height: 46px;
    border: 1px solid  #eee;
    overflow: hidden; }
    #files-list .file .type {
      font-weight: bold;
      text-transform: uppercase;
      min-width: 100px;
      display: inline-block;
      height: 100%;
      border-right: 1px solid #eee;
      text-align: center;
      float: left; }
      #files-list .file .type.error {
        color: #cc0000; }
    #files-list .file .name {
      float: left;
      padding-left: 15px; }
    #files-list .file .size {
      float: left;
      padding-left: 15px; }
    #files-list .file .status {
      float: right;
      text-align: center;
      height: 46px;
      display: inline-block; }
      #files-list .file .status .message {
        padding-right: 15px; }
        #files-list .file .status .message a {
          font-size: 16px;
          margin-left: 10px; }
      #files-list .file .status.error .message {
        color: #cc0000; }
      #files-list .file .status.error .progress-bar > div {
        background-color: #cc0000; }
      #files-list .file .status .fa {
        display: inline-block;
        min-width: 16px; }
      #files-list .file .status .fa-check {
        color: #00AA00; }
      #files-list .file .status .fa-close {
        color: #cc0000; }

.show-memory-template .container {
  overflow: hidden; }

.show-memory-template .title {
  width: 100%;
  overflow: hidden; }
  .show-memory-template .title h2, .show-memory-template .title p {
    float: left; }

.show-memory-template .date {
  margin-top: 40px;
  display: inline-block; }

.show-memory-template .content {
  margin-top: 10px; }

.show-memory-template .actions {
  float: right;
  margin-top: 50px; }
  .show-memory-template .actions .button {
    margin-left: 20px; }

.memory-file-cont {
  height: 600px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  background-color: #484848; }
  .memory-file-cont .vertical-align-helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  .memory-file-cont img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%; }
  .memory-file-cont .memory-file {
    z-index: 1;
    display: inline-block;
    vertical-align: middle; }
    .memory-file-cont .memory-file.icon {
      font-size: 240px;
      color: #fff; }
      .memory-file-cont .memory-file.icon:hover {
        color: #ff4d55; }
  .memory-file-cont .video-wrapper {
    width: 80%;
    max-width: 800px;
    display: inline-block;
    vertical-align: middle; }
    .memory-file-cont .video-wrapper .video-js {
      padding-top: 56.25%;
      max-width: 100%;
      height: 100%;
      width: 100%; }

.section-404 {
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 100px 0; }
  .section-404 .text {
    width: 40%;
    float: left;
    text-align: left;
    padding-top: 60px; }
    .section-404 .text h3 {
      margin-top: 20px; }
    .section-404 .text .button {
      margin-top: 60px; }
  .section-404 .gif {
    width: 60%;
    float: left;
    text-align: center; }

@media (max-width: 1350px) {
  .container {
    width: 100%;
    padding: 0 30px; } }

@media (max-width: 979px) {
  .container-sm, .container.small {
    width: 100%;
    padding: 0 30px; }
  .form-section .container {
    width: 100%;
    padding: 0 30px; }
  .app-description {
    padding: 50px 0 120px; }
    .app-description .col img {
      max-width: 200px; } }

@media (max-width: 767px) {
  header {
    height: auto; }
    header .logo {
      float: none;
      width: 100%;
      text-align: center; }
    header .menu {
      float: none;
      height: auto;
      margin-bottom: 20px; }
      header .menu > ul li {
        float: none;
        width: 100%;
        text-align: center; }
        header .menu > ul li:before {
          content: none; }
      header .menu > ul a {
        line-height: 30px; }
  .table {
    display: block;
    width: 100%;
    position: relative; }
    .table .row {
      border: 1px solid #ccc;
      display: block; }
      .table .row.head {
        position: absolute;
        top: -9999px;
        left: -9999px; }
      .table .row .cell {
        display: block;
        min-height: 42px;
        border: none;
        border-bottom: 1px solid lightgray;
        position: relative;
        padding-left: 50%;
        width: 100%; }
        .table .row .cell:before {
          position: absolute;
          top: 12px;
          left: 12px;
          width: 45%;
          padding-right: 12px;
          white-space: nowrap;
          content: attr(data-head_label); } }

@media (max-width: 579px) {
  .container {
    padding: 0 15px; }
  .container-sm, .container.small {
    padding: 0 15px; }
  .page-title {
    padding: 60px 0; }
    .page-title.with-image {
      padding: 100px 0; }
    .page-title input[type="text"] {
      width: 90%; }
  p.intro {
    padding: 20px 0; }
  .app-description {
    padding: 40px 0 120px; }
    .app-description .col {
      width: 100%;
      display: block;
      padding: 0; }
      .app-description .col img {
        display: none; }
  .call-to-action {
    padding: 0; }
  .memories .box .image {
    min-height: 240px; }
  .memories .box .info {
    min-height: 140px; }
  #files-list {
    margin-top: 30px; }
    #files-list .file .type {
      width: 100%; }
  .modal-content {
    padding: 20px 20px 30px 20px; }
  .table {
    display: block;
    width: 100%;
    position: relative; }
    .table .row {
      border: 1px solid #ccc;
      display: block; }
      .table .row.head {
        position: absolute;
        top: -9999px;
        left: -9999px; }
        .table .row.head .cell {
          font-weight: bold;
          border-top: 0; }
      .table .row .cell {
        /* Behave  like a "row" */
        display: block;
        min-height: 42px;
        border: none;
        border-bottom: 1px solid lightgray;
        position: relative;
        padding-left: 50%;
        width: 100%; }
        .table .row .cell:before {
          position: absolute;
          top: 12px;
          left: 12px;
          width: 45%;
          padding-right: 12px;
          white-space: nowrap;
          content: attr(data-head_label); }
        .table .row .cell a {
          font-size: 16px;
          line-height: 18px; }
    .table .actions {
      text-align: right; }
      .table .actions a {
        margin-left: 8px; }
      .table .actions i {
        padding-right: 4px; } }

/*# sourceMappingURL=app.css.map */
