/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: $black;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
}
img {
  max-width:100%;
}
.container {
  width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-sm {
  width: 870px;
  padding: 0 15px;
  margin: 0 auto;
}
.blank-layout {
  background: #f7f7f7;
  min-width: 320px;
  min-height: 100%;
  .logo {
    text-align: center;
    padding-top: 20px;
  }
  .box {
    max-width: 400px;
    margin: 20px auto 20px;
    background-color: #FFF;
    padding: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 5px #CCC;
    -moz-box-shadow: 1px 2px 5px #CCC;
    box-shadow: 1px 2px 5px #CCC;
  }
}
.errors {
  li {
    line-height: 26px;
    color: red;
  }
}
.action-bar {
  line-height: 60px;
  background-color: #fff;
  @extend %clearfix;
  .trunk {
    float: left;
    label {
      float: left;
      display: inline-block;
      line-height: 60px;
      padding-right: 10px;
      font-size: 18px;
    }
    .tooltip-select {
      float: left;
      display: inline-block;
      width: 200px;
      padding: 9px 0;
      .fs-dropdown-selected {
      }
    }
  }
  .social {
    float: right;
    > span, > ul, > ul li {
      float: left;
    }
    span {
      font-size: 18px;
      font-weight: 600;
      display: inline-block;
      padding-right: 10px;
    }
    a {
      display: inline-block;
      line-height: 60px;
      padding: 0 5px;
    }
  }
}
.grid {
  margin-left: -20px;
  margin-right: -20px;
  .col {
    float: left;
    padding: 0 20px ;
  }
}
.form-section {
  padding: 60px 0 100px;
  .container {
    width: 700px;
  }
}
.listing-section {
  padding: 60px 0 100px;
  min-height: 450px;
}
.container.small {
  width: 700px;
}
p.no-resource {
  font-size: 18px;
}
.table {
  display: table;
  width: 100%;
  letter-spacing: .25px;
  border-collapse: collapse;
  box-sizing: border-box;
  background: #fff;
  .row {
    display: table-row;
    &.head {
      .cell {
        font-weight: bold;
        border-top: 0;
      }
    }
    .cell {
      display: table-cell;
      padding: 12px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      line-height: 18px;
      vertical-align: top;
      font-weight: 300;
      a {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
  .actions {
    text-align: right;
    a {
      margin-left: 8px;
    }
    i {
      padding-right: 4px;
    }
  }
}
.fa.fa-facebook-official {
  color: #3b5998;
}
