header {
  height: 80px;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  .logo {
    float: left;
  }
  .menu {
    float: right;
    height: 80px;
    > ul {
      li {
        position: relative;
        float: left;
        &:before {
          border-right: 1px solid rgba(0, 0, 0, 0.075);
          content: "";
          height: 1.75rem;
          left: 0;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 0;
        }
        &:first-child:before {
          display: none;
        }
      }
      a {
        font-family: 'Hanken', sans-serif;
        display: inline-block;
        color: $grey;
        padding: 0 22px;
        font-size: 16px;
        line-height: 80px;
        &:hover {
          color:$accent;
        }
      }
    }
  }
}
.logo {
  h1 a {
    color: #000;
    line-height: 80px;
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}
.banner {
  background-color: #fbfbfb;
  padding: 80px 0;
  text-align: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}
.page-title {
  padding: 70px 0;
  position: relative;
  text-align: center;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  background-color: #f9f9f9;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    @include opacity(0.6);
    z-index: 0;
  }
  h1, a {
    position: relative;
    z-index: 1;
  }
  a.add {
    position: absolute;
    z-index: 1;
    top:30px;
    right: 30px;
    border-radius:50%;
    font-size: 20px;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;

  }
  &.with-image {
    padding: 120px 0;
    h1 {
      color: #fff;
    }
  }
  > input[type="text"] {
    width: 500px;
    position: relative;
    margin: 20px auto 0;
  }
}