@media #{$sm_desk}{
  .container {
    width:100%;
    padding: 0 30px;
  }
}
@media #{$sm_tablet}{
  .container-sm, .container.small {
    width:100%;
    padding: 0 30px;
  }
  .form-section {
    .container {
      width:100%;
      padding: 0 30px;
    }
  }
  .app-description {
    padding: 50px 0 120px;
    .col {
      img {
        max-width: 200px;
      }
    }
  }
}
@media #{$mobile}{
  header {
    height: auto;
    .logo {
      float: none;
      width: 100%;
      text-align: center;
    }
    .menu {
      float: none;
      height: auto;
      margin-bottom: 20px;
      > ul {
        li {
          float: none;
          width: 100%;
          text-align: center;
          &:before {
            content: none;
          }
        }
        a {
          line-height: 30px;
        }
      }
    }
  }
  .table {
    display: block;
    width: 100%;
    position: relative;
    .row {
      border: 1px solid #ccc;
      display: block;
      &.head {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      .cell {
        display: block;
        min-height: 42px;
        border: none;
        border-bottom: 1px solid lightgray;
        position: relative;
        padding-left: 50%;
        width: 100%;
        &:before {
          position: absolute;
          top: 12px;
          left: 12px;
          width: 45%;
          padding-right: 12px;
          white-space: nowrap;
          content: attr(data-head_label);
        }
      }
    }
  }
}
@media #{$sm_mobile}{
  .container {
    padding: 0 15px;
  }
  .container-sm, .container.small {
    padding: 0 15px;
  }
  .page-title {
    padding: 60px 0;
    &.with-image {
      padding: 100px 0;
    }
    input[type="text"] {
      width: 90%;
    }
  }
  p.intro {
    padding: 20px 0;
  }
  .app-description {
    padding: 40px 0 120px;
    .col {
      width: 100%;
      display: block;
      padding: 0;
      img {
        display: none;
      }
    }
  }
  .call-to-action {
    padding: 0;
  }
  .memories {
    .box {
      .image {
        min-height: 240px;
      }
      .info {
        min-height: 140px;
      }
    }
  }
  #files-list {
    margin-top: 30px;
    .file {
      .type {
        width: 100%;
      }
    }
  }
  .modal-content {
    padding: 20px 20px 30px 20px;
  }
  .table {
    display: block;
    width: 100%;
    position: relative;
    .row {
      border: 1px solid #ccc;
      display: block;
      &.head {
        position: absolute;
        top: -9999px;
        left: -9999px;
        .cell {
          font-weight: bold;
          border-top: 0;
        }
      }
      .cell {
        /* Behave  like a "row" */
        display: block;
        min-height: 42px;
        border: none;
        border-bottom: 1px solid lightgray;
        position: relative;
        padding-left: 50%;
        width: 100%;
        &:before {
          position: absolute;
          top: 12px;
          left: 12px;
          width: 45%;
          padding-right: 12px;
          white-space: nowrap;
          content: attr(data-head_label);
        }
        a {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
    .actions {
      text-align: right;
      a {
        margin-left: 8px;
      }
      i {
        padding-right: 4px;
      }
    }
  }
}
