body {
	padding-bottom: 80px;
}
header>h1 {
	padding-top: 2em;
}
table {
	width: 100%;
	letter-spacing: .25px;
	border-collapse: collapse;
	box-sizing: border-box;
	background: #fff;
}
table td {
	padding: 12px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	line-height: 18px;
	vertical-align: top;
	font-weight: 300;
}
thead td {
	font-weight: bold;
}
figure {
	margin: 1em 0;
}
img {
	max-width: 100%;
}