.button, button {
  font-weight: 400;
  background-color: #ff4d55;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 12px 24px;
  text-align: center;
  transition: 0.2s background-color ease-out;
  line-height: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  &.full-width {
    width: 100%;
  }
  &:hover {
    background-color: #484848;
    color:#fff;
  }
  &.disabled {
    background-color: $disabled;
    cursor: not-allowed;
  }
}