.flash-notification {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  background-color: $black;
  width: 100%;
  padding: 20px 0 ;
  z-index: 9999;
  .container {
    position: relative;
  }
  span {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
  }
  button.close {
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -15px;
    background-color: transparent;
    @include opacity(0.8);
    span {
      color: #fff;
      font-size: 20px;
      line-height: 30px;
    }
  }
  &.error {
    background-color: $error;
  }
  &.success {
    background-color: $success;
  }
}