select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .form-control, .select2-container .select2-choice {
  border: 1px solid #eee;
  border-radius: 3px;
  display: block;
  outline: 0;
  padding: 11px 10px 11px;
  vertical-align: middle;
  width: 100%;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Source Sans Pro', sans-serif;
}
input[readonly] {
  color: $grey;
}
.fs-checkbox-marker {
  border-radius: 3px;
}
.checkbox-cont {
  label {
    display: inline-block;
    line-height: 20px;
  }
  .fs-checkbox-marker {
    margin-right: 10px;
  }
}
label {
  color: #484848;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.67;
}
.fs-dropdown {
  outline: 0;
}
.fs-dropdown-selected {
  border: 1px solid #eee;
  padding: 11px 10px 11px;
  background: transparent;
  color: $black;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  outline: 0;
  &:hover {
    background-color: #fff;
    color: $black;
  }
  &:after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    z-index: 1;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    background: url("../img/icon-arrow.svg") no-repeat center center / 12px;
    pointer-events: none;
  }
}
.fs-dropdown-options {
  border: 1px solid #eee;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(46, 46, 46, 0.2);
  position: absolute;
  visibility: hidden;
  display: block;
  @include opacity(0);
  z-index: -10;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  -moz-transition-property: visibility, opacity, -moz-transform;
  -o-transition-property: visibility, opacity, -o-transform;
  transition-property: visibility, opacity, transform;
  -webkit-transition-timing-function: linear, linear, cubic-bezier(0, 0, 0.265, 1.55);
  -moz-transition-timing-function: linear, linear, cubic-bezier(0, 0, 0.265, 1.55);
  -o-transition-timing-function: linear, linear, cubic-bezier(0, 0, 0.265, 1.55);
  transition-timing-function: linear, linear, cubic-bezier(0, 0, 0.265, 1.55);
  -webkit-transition-duration: 0s, 0s, 130ms;
  -moz-transition-duration: 0s, 0s, 130ms;
  -o-transition-duration: 0s, 0s, 130ms;
  transition-duration: 0s, 0s, 130ms;
}
.fs-dropdown-item {
  display: block;
  text-align: left;
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  color: $grey;
  font-family: 'Source Sans Pro', sans-serif;
  &:last-child {
    border-bottom: 0;
  }
  &:hover {
    background: inherit;
    color: $accent;
  }
}
.fs-dropdown-item_selected {
  background: inherit;
  color: $accent;
}
.fs-dropdown-open {
  outline: none;
  border-radius: 0 0 3px 3px;
  .fs-dropdown-options {
    visibility: visible;
    @include opacity(1);
    z-index: 9999;
    -webkit-transition-duration: 0s, 100ms, 100ms;
    -moz-transition-duration: 0s, 100ms, 100ms;
    -o-transition-duration: 0s, 100ms, 100ms;
    transition-duration: 0s, 100ms, 100ms;
  }
  .fs-dropdown-selected {
    border-radius: 3px 3px 0 0;
  }
  &.fs-dropdown-bottom {
    .fs-dropdown-selected {
      border-radius: 0 0 3px 3px;
    }
    .fs-dropdown-options {
      border: 1px solid #eee;
      border-bottom: 0;
      border-radius: 3px 3px 0 0;
      box-shadow: 0;
    }
  }
}
.fs-dropdown-multiple .fs-dropdown-options {
  visibility: visible;
  @include opacity(1);
  z-index: 9999;
  -webkit-transition-duration: 0s, 100ms, 100ms;
  -moz-transition-duration: 0s, 100ms, 100ms;
  -o-transition-duration: 0s, 100ms, 100ms;
  transition-duration: 0s, 100ms, 100ms;
  box-shadow: none;
  border: 1px solid #eee;
  //height: 98px;
  .fs-dropdown-item {
    outline: none;
  }
  /*.fs-dropdown-item {
    @include transition(background-color 0.1s ease-in);
    &:hover {
      background-color: $accent;
      color: #fff;
    }
  }
  .fs-dropdown-item_selected {
    background-color: $accent;
    color: #fff;
  }*/
}
.form-field {
  position: relative;
  padding-bottom: 24px;
  span.error {
    position: absolute;
    font-size: 14px;
    line-height: 18px;
    color: $error;
    bottom: 4px;
    left: 0;
  }
}
textarea {
  min-height: 150px;
  resize: none;
}