.horizontal-line {
  overflow: hidden;
  color: $grey;
  margin: 20px 0;
  text-align: center;
  .horizontal-text:before, .horizontal-text:after {
    content: "";
    position: absolute;
    display: block;
    width: 1000px;
    border-top: 1px solid #E5E5E5;
    top: 10px;
  }
  .horizontal-text {
    display: inline-block;
    position: relative;
    z-index: 2;
    font-size: 16px;
    line-height: 19px;
    &:before {
      right: 100%;
      margin-right: 12px;
    }
    &:after {
      left: 100%;
      margin-left: 12px;
    }
  }
}