.progress-bar {
  width: 10px;
  height: 100%;
  position: relative;
  float: right;
  > div {
    width: 100%;
    background-color: $success;
    @include transition(height 0.2s linear);
    position: absolute;
    left:0;
    bottom:0;
  }
}