.social-icon {
  width: 34px;
  height: 34px;
  display: inline-block;
  text-align: center;
  position: relative;
  i.fa {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
  }
  &.facebook {
    background-color: #3B5998;
  }
  &.google-plus {
    background-color: #DF4A32;
  }
}