.section-404 {
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 100px 0;
  .text {
    width: 40%;
    float: left;
    text-align: left;
    padding-top: 60px;
    h3 {
      margin-top: 20px;
    }
    .button {
      margin-top: 60px;
    }
  }
  .gif {
    width: 60%;
    float: left;
    text-align: center;
  }
}