p.intro {
  font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  padding: 20px 70px;
}
.app-description {
  padding: 60px 0 140px;
  .section {
    margin-top: 20px;
    display: table;
    width: 100%;
    h3 {
      margin:0 0 14px;
    }
  }
  .col {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
  }
}
.call-to-action {
  margin-top: 60px;
  text-align: center;
  padding: 0 70px;
  > p {
    margin-bottom: 14px;
  }
  .button {
    font-size: 18px;
    padding: 14px 0;
  }
}