.auth-box {
  .form-field {
    padding-bottom: 10px;
  }
  .errors {
    margin-bottom: 20px;
  }
  button {
    margin-top: 20px;
  }
  .social-cont {
    text-align: center;
    .social-icon {
      margin: 0 3px;
    }
  }
}